/*
 * Copyright 2019 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

.container {
  display: inline-block;
  line-height: 0;
  overflow: hidden;

  & .image {
    filter: blur(5px);
    transition: filter 250ms ease;
  }
}

.loaded {
  & .image {
    filter: blur(0);
  }
}
